# IDE Files
/.idea/*
!/.idea/settings.ini

# Java Files
/build/
*.class

# BlueJ files
*.ctxt

# Package Files
*.jar
*.war
*.ear

# Virtual Machine Crash Logs
hs_err_pid*

# Gradle Files
/.gradle/

# LaTeX Files
/out/*
/projektbericht/Projektbericht.*
!/projektbericht/Projektbericht.tex
!/projektbericht/Projektbericht-Final.pdf

# JavaDoc Files
/javadoc/

# Log Files
/logs/*
!/logs/cleanup.sh
#!/logs/stored

# Server Executables
/server/*
/server/*.sh

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
