# IDE Files
/.idea/

# Java Files
*.class

# BlueJ files
*.ctxt

# Package Files
*.jar
*.war
*.ear

# Virtual Machine Crash Logs
hs_err_pid*

# Gradle Files
/ReversiXT/build/
/.gradle/

# LaTeX Files
/out/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
